.title {
  font-size: 50px;
}

.form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

.inputLabel {
  margin-top: 10px;
}

.selectTypes {
  margin-top: 10px;
  align-self: center;
}

.label {
  font-size: 20px;
  margin-right: 10px;
}

.input {
  width: 300px;
  height: 20px;
}

.selectTypes__text {
  font-size: 20px;
}

.goBack {
  color: rgb(255, 255, 255);
  align-self: center;
  font-size: 15px;
  margin-top: 20px;
  background: radial-gradient(
    circle,
    rgba(201, 28, 94, 1) 0%,
    rgba(190, 25, 117, 1) 100%
  );
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3s;
}

.back {
  color: rgb(255, 255, 255);
  padding: 0px 15px;
}

.goBack:hover {
  transform: scale(1.1);
  background: radial-gradient(
    circle,
    rgba(201, 28, 94, 1) 0%,
    rgba(190, 25, 117, 1) 100%
  );
}

.buttonCreate {
  color: rgb(255, 255, 255);
  padding: 0px 15px;
  align-self: center;
  font-size: 25px;
  margin-top: 20px;
  background: radial-gradient(
    circle,
    rgba(201, 28, 94, 1) 0%,
    rgba(190, 25, 117, 1) 100%
  );
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3s;
}

.buttonCreate:hover {
  transform: scale(1.1);
}

.selectType {
  height: 30px;
  width: 100px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.errorName {
  color: red;
  position: absolute;
  right: 512px;
  top: 197px;
  letter-spacing: 1px;
}

.errorHp {
  color: red;
  position: absolute;
  right: 393px;
  top: 234px;
  letter-spacing: 1px;
}

.errorAttack {
  color: red;
  position: absolute;
  right: 366px;
  top: 272px;
  letter-spacing: 1px;
}

.errorDefense {
  color: red;
  position: absolute;
  right: 358px;
  top: 309px;
  letter-spacing: 1px;
}

.errorSpeed {
  color: red;
  position: absolute;
  right: 371px;
  top: 347px;
  letter-spacing: 1px;
}

.errorHeight {
  color: red;
  position: absolute;
  right: 367px;
  top: 383px;
  letter-spacing: 1px;
}

.errorWeight {
  color: red;
  position: absolute;
  right: 364px;
  top: 421px;
  letter-spacing: 1px;
}
