.principal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(201, 28, 94);
  background: radial-gradient(
    circle,
    rgba(201, 28, 94, 1) 0%,
    rgba(147, 11, 86, 1) 100%
  );
  background-size: cover;
  height: 100vh;
  width: 100vw;
  align-items: flex-start;
}

.text {
  color: rgb(206, 206, 206);
  text-shadow: 5px 5px 50px rgb(24, 24, 24);
  font-size: 6.5em;
  padding-left: 1.8em;
  position: absolute;
  top: 2em;
  font-family: "Bebas Neue", cursive;
}

button {
  color: rgb(255, 255, 255);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  font-family: "Bebas Neue", cursive;
  transition: 0.2s;
}

.button {
  display: flex;
  text-decoration: none;
  justify-content: center;
  background: rgb(164, 38, 86);
  background: radial-gradient(
    circle,
    rgba(164, 38, 86, 1) 0%,
    rgba(119, 0, 65, 1) 100%
  );
  /* border: 1px solid rgb(255, 196, 0); */
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) -10px 10px 40px -15px;
  padding: 10px 100px;
  margin-left: 30em;
  transition: 0.2s;
}

.button:hover {
  transform: scale(1.1) rotate(4deg);
}

.button:active {
  margin-top: 5.3em;
}

.img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
